html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.content > div.container-fluid {
    margin: 0 50px 0 50px;
}

.footer {
    flex-shrink: 0;
}
