.navbar-brand, .navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

#myNavbar > ul > li > a {
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
}

div#content {
    margin-top: 100px;
}

div#alert {
    margin-top: 80px;
}

.navbar .container-fluid .navbar-header .navbar-brand span {
    color: #5383d3;
    font: normal 150% 'Cookie', cursive;
}

.navbar .container-fluid .navbar-header .navbar-brand h3 {
    font: normal 150% 'Cookie', cursive;
}

body, html {
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    height: 100%;
}

.inline-logo {
    font: normal 120% 'Cookie', cursive;
}

.inline-logo-part {
    color: #5383d3;
    font: normal 120% 'Cookie', cursive;
}

.header {
    font: normal 150%;
}

.desc {
    font: normal 160% 'Kite One';
    padding: 18px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    opacity: 1.0;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.navbar .container-fluid .navbar-header .navbar-brand span.first {
    color: #fff;
    font-size: 150%;
    font-family: 'Cookie', cursive;
}

a:hover, a:active, a:focus {
    outline: 0;
}